.hamburger-btn {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 100;
  
  background: transparent;
  border: none;
  cursor: pointer;
  
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
}

.hamburger-btn span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #0076ce;
  border-radius: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 60, 50, 0.6);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: min(250px, 82vw);
  height: 100vh;
  background-color: #ffffff;
  z-index: 20;
  transition: left 0.3s ease; 
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar.active {
  left: 0;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.sidebar-logo {
  max-width: 100px;
  height: auto;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #002c6c; 
  font-weight: 500;
  font-size: 14px;
}

.sidebar-nav li.active a {
  background-color: #f0f0f0;
  border-left: 4px solid blue;
}